<% content_for :title,'GITHUB | レポジトリ' %>
<% breadcrumb_add "レポジトリ" %>
<% breadcrumb_add "レポジトリデテール" %>

<%graphql
  fragment Repository on Repository {

    id

    owner {
      login
    }

    name

    description
    homepageUrl

    ...Views::Repositories::Navigation::Repository

    ...Views::Repositories::Star::Repository
  }
%>

<% repository = Views::Repositories::Show::Repository.new(repository) %>

<div class="header clearfix">
  <%= render "repositories/navigation", repository: repository %>

  <h3 class="text-muted inline-block">
    <a href="<%= repositories_path %>"><%= repository.owner.login %></a>
    /
    <a href="<%= repository_path(repository.id) %>"><%= repository.name %></a>
  </h3>

  <div class="inline-block star-badge-header">
    <%= render "repositories/star", repository: repository %>
  </div>
  <div class="inline-block">
    <a href="<%= stargazers_repository_path(repository.id, repository.owner.login.to_s, repository.name.to_s) %>" class="btn btn-primary">Load Stargazers</a>
  </div>

  <div class="inline-block">
    <a href="#" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-default">Load Issues</a>
  </div>
</div>

<hr>

<div class="jumbotron">
  <h1><%= repository.name %></h1>

  <% if repository.description.present? %>
    <p><%= repository.description %></p>
  <% end %>

  <p>
    <%# NOTE: homepage_url is snake case here %>
    <% if repository.homepage_url.present? %>
      <a class="btn btn-primary btn-lg" href="<%= repository.homepage_url %>" role="button">Homepage</a>
    <% end %>

    <a class="btn btn-primary btn-lg" href="https://github.com/<%= repository.owner.login %>/<%= repository.name %>" role="button">ギットハブでレポジトリを見る</a>
  </p>
</div>

<!-- モーダル -->
<div class="modal fade" id="modal-default">
  <div class="modal-dialog modal-default">
    <div class="modal-content">
      <div class="modal-header modal-header--ordering">
        <h6 class="modal-title"><%= repository.name %>のイシューリスト</h6>
      </div>
      <div class="modal-body text-center">
        <h5 class="text-center pt-3">イシューリストショーよろしでしょうか？</h5>
        <div class="inline-block">
          <a href="<%= issues_repository_path(repository.id, repository.owner.login.to_s, repository.name.to_s) %>" class="btn btn-primary">Load Issues</a>
        </div>
        <div class="inline-block">
          <button type="button" class="btn btn-danger" data-dismiss="modal">閉じる</button>
        </div>
        
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
 </div> 
