<% content_for :title,'GITHUB | ログイン' %>
<% breadcrumb_add 'ログイン' %>
<%= stylesheets 'newji'%>

<% if logged_in? %>
  <h3>
    ログインされました <%= current_user.username %>.
    <small>ログアウトするためにボタンをクリックしてください</small>
  </h3>
  <%= button_to "ログアウト", '/logout', method: 'delete' %>
<% else %>
<div class="login-box">
  <div class="login-logo">
    <a href="#" class="ja font-weight-bold">ギットハブログイン</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">以下を入力して<span class="textbr">ログインしてください</span></p>

      <form action="#" method="post">
        <div class="input-group input-group--modal mb-3">
          <input type="email" class="form-control form-control--ie" placeholder="メールアドレス" required>
        </div>
        <div class="input-group input-group--modal mb-3">
          <input type="password" class="form-control form-control--ie" placeholder="パスワード" required>
        </div>
        <div class="row">
          <div class="col-12 col-sm-8">
            <div class="icheck-primary">
              <input type="checkbox" id="remember">
              <label for="remember">
                次回から省略する
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-4">
            <button type="submit" class="btn newji-btn--dark-blue btn-block w-100 my-3 my-sm-0">ログイン</button>
          </div>
          <div class="col-12 col-sm-12">
            <p class="text-center">もしくは</p>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <p class="mb-1">
        <%= link_to 'ギットハブでログイン', auth_github_path, class: "base-color　btn newji-btn--dark-blue btn-block w-100 my-3 my-sm-0 text-center" %>
      </p>
      <p class="mb-0 text-center">
        <a href="#" class="base-color">新しくアカウントを作成する</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->

<% end %>

<% flash.each do |name, msg| -%>
	<%= content_tag :div, msg %>
<% end -%>
