<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title><%= yield(:title) %></title>
    
    <%= csrf_meta_tags %>
    <%= csrf_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'plugins/fontawesome-free/css/all.min'%>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- Theme style -->
    <%= stylesheet_link_tag 'css/adminlte.min'%>
    <!--NEWJI独自のスタイル-->

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.2.0/min/dropzone.min.js"></script>

    <%= yield :head %>
  </head>

  <body class="hold-transition login-page">
    <% if current_user.present? %>
      <div class="wrapper">
      <!-- Navbar -->
        <%= render "layouts/navbar" %>

        <!-- Main Sidebar Container -->
        <%= render "layouts/sidebar" %>
        
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <div class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                  <%= render_breadcrumb %>
                </div>
              </div>
              <%= yield :content_header %>
            </div>
          </div>

          <!-- Main content -->
          <div class="content">
            <%= yield %>
          </div>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
